<!DOCTYPE html>
<html>

<head>
    <title>Certifications</title>
    <link rel="stylesheet" href="/style.css">
</head>

<body>

    <nav class="nav">
        <h2>Certifications</h2>
        <a href="/admin/dashboard">Dashboard</a>
    </nav>

    <div class="container">

        <h2>Add Certification</h2>
        <form method="POST" enctype="multipart/form-data">
            <input name="title" placeholder="Title" required />
            <input name="provider" placeholder="Provider" required />
            <input name="year" placeholder="Year" required />
            <input type="file" name="image" required />
            <button>Add Certification</button>
        </form>

        <hr />

        <% certs.forEach(c=> { %>
            <div class="card">
                <h3>
                    <%= c.title %>
                </h3>
                <p>
                    <%= c.provider %> - <%= c.year %>
                </p>

                <div class="image-box">
                    <img src="<%= c.image %>" />
                </div>

                <a class="delete" href="/admin/certifications/delete/<%= c._id %>"> Delete</a>
            </div>
            <% }) %>

    </div>
</body>

</html>